<div class="row">
  <div class="col-md-6">
    <h3><%= link_to @game.away_team.full_name, @game.away_team %> at <%= link_to @game.home_team.full_name, @game.home_team %></h3>
    <h4><%= link_to @game.date, games_date_path(year: @game.date.year, month: @game.date.month, day: @game.date.day) %></h4>
  </div>
</div>
